Let us consider a list of tuples as below

In [12]:
scores=[('English',85),('Social Studies',82),('Maths',98),('Science',92)]
scores

[('English', 85), ('Social Studies', 82), ('Maths', 98), ('Science', 92)]

In [13]:
d1=dict(scores) #convert the list of tuples to dictionary
d1

{'English': 85, 'Social Studies': 82, 'Maths': 98, 'Science': 92}

In [14]:
#sorting a dictionary 
sorted_dict=sorted(d1.items(),key=lambda x:x[1])
sorted_dict
#On applying the sorted function, the dictionary is converted to list of tuples

[('Social Studies', 82), ('English', 85), ('Science', 92), ('Maths', 98)]

In [15]:
#A method to get the keys alone sorted according to the values
keys_alone=sorted(d1,key=d1.get)
keys_alone

['Social Studies', 'English', 'Science', 'Maths']

In [16]:
scores_sorted_asc=sorted(scores,key=lambda x:x[-1]) #sorting the list of tuples based on the marks obtained in each subject 
scores_sorted_asc
#Here the each tuple from list of tuples is sent as arguments to lambda

[('Social Studies', 82), ('English', 85), ('Science', 92), ('Maths', 98)]

In [17]:
scores_sorted_desc=sorted(scores,key=lambda x:x[-1],reverse=True)
scores_sorted_desc

[('Maths', 98), ('Science', 92), ('English', 85), ('Social Studies', 82)]

In [18]:
listoftuples_to_list=[j for i in scores for j in i]    #converting list of tuples to a list
listoftuples_to_list

['English', 85, 'Social Studies', 82, 'Maths', 98, 'Science', 92]

In [19]:
subjects=[i for (i,j) in scores]       #Extracting the first element from each tuple in list of tuples
subjects

['English', 'Social Studies', 'Maths', 'Science']

In [21]:
#Tuple unpacking
subjects,sco=zip(*scores)

(85, 82, 98, 92)

In [15]:
import pandas as pd        
scores_series=pd.Series(d1)           #convert a list of tuples to a Pandas Series with the first element as Index and the second
                                       # element as value
scores_series

English           85
Social Studies    82
Maths             98
Science           92
dtype: int64